header .container {
    max-width: 100%;
    width: 100%;
    padding: 10px 0;
}

a {
    color: white; 
    text-decoration: none; 
    transition: color 1s ease; 
}

a:hover {
    color: yellow; 
}

header {
    background-color: black;
    padding: 20px;
}

.row{
    background-color: black;
}

#ContainerA{
    background-color: black;
}

#ContainerB{
    background-color: black;
    margin-bottom: 45px;
}

#ContainerD{
    background-color: black;
    margin-bottom: 45px;
}

#ContainerE{
    background-color: black;
    margin-bottom: 45px;
}

.nav-link {
    color: rgb(255, 255, 255);
    transition: color 1s ease;
}

.nav-link:hover {
    color: yellow;
}

#navbarNav{
    background-color: black;
}

.col{
    background-color: black;
}

.logo-container {
    position: relative;
    
}

.logo {
    width: 100%;
    
    transition: opacity 1.5s ease; 
}

.logo-hover {
    position: absolute;
    top: 45;
    left: 12px;
    right: 0;
   
    opacity: 0;
    transition: opacity 1.5s ease; 
}

.logo-container:hover .logo {
    opacity: 0;
}

.logo-container:hover .logo-hover {
    opacity: 1;
}

/* Barra de búsqueda */
#containerBusqueda {
    width: 100%; /* El contenedor ocupa el ancho completo */
    display: flex;
    justify-content: flex-end; /* Alinea todo a la derecha */
}

.search-bar {
    max-width: 300px; /* Controla el ancho de la barra */
}

.search-input {
    width: 100%; /* Ancho completo de la columna */
    max-width: 150px; /* Limita el ancho de la caja de texto */
    border-radius: 30px;
    padding: 5px 15px;
}

.search-btn {
    border-radius: 30px;
    padding: 5px 15px;
}

#dflexx {
    align-items: center;
    justify-content: flex-end;
}
