.grid-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-rows: 4fr;
    gap: 5rem;

 }

 @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        gap: 2rem;
    }
}

.producto {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    
}

.producto .price {
    font-weight: bold;
    color: #5c300b !important;
}

.producto .description {
    font-size: 0.7em;
    color: #ce7878 !important;
}

.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
    color: brown;
}

.add-to-cart {
    background-color: #2b8a3e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.add-to-cart:hover {
    background-color: #256730;
}