/* Aricle - Aside */
.carousel-control-prev, .carousel-control-next {
    z-index: 1;
}

#filas{
    padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(172, 169, 169, 0.171); /* Fondo gris oscuro semitransparente */
    border-radius: 50%; /* Opcional: para que las flechas tengan un fondo circular */
}

#aside {
    border-left: 1px solid #838282; 
}

/* Fin article - Aside */