@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Estilo de las columnas */
[class*='col'] {
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;
    background-color: #ffffff;
    border: 0px solid #c41212; 
    color: rgb(0, 0, 0);
}
/* Fuente del elemento a */
a{
    .roboto-thin {
        font-family: "Roboto", system-ui;
        font-weight: 100;
        font-style: normal;
      }

}
/* Formato del body */
body {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    background-color: black; 
    color: white;
    margin: 0;
    padding: 0;
}

/* Footer */
 .row-footer{
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #838282;
    color: #ffffff;
 }
/* Estilo del nombre del usuario logueado */
 .user-info {
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
}

.user-info i {
    margin-right: 8px; 
    color: blue; 
}

.menu {
    position: absolute;
    background-color: #070707;
    border: 1px solid #868585;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    display: none; 
    top: 80px; 
    right: 1;  
}
/* Estilo menú usuario */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: #fcfcfc;
    background-color: transparent;
    border-radius: 3px;
}

.menu li:hover {
    background-color: #f1f1f1;
    color: #000;
}

/* Cards */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    padding: 15px;
    height: 100%; 
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.producto h3 {
    font-size: 1.1rem;
    margin: 10px;
    color: #333;
}

.producto p {
    font-size: 1rem;
    font-weight: bold;
    color: #27ae60;
    margin: 10px;
}

.producto button {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #ddd;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #3498db;
}

/* Carrito */
.navbar-nav .nav-link {
    margin-left: 20px;
}

#carritoCantidad {
    font-size: 0.9rem;
    margin-left: 5px;
}